@import url('https://fonts.googleapis.com/css?family=Vollkorn|Dancing+Script');

$font-primary-typeface: 'Times', 'Times New Roman', 'Open Sans', 'Museo Sans', 'HelveticaNeue Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Verdana, Sans-serif;
$font-primary-weight: 300;

$font-letter-spacing: 0.012em;
$font-line-height: 1.5em;

